.btn-container {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: space-between;
  position: relative;
  left: 50px;
  width: 160px;
}

.sign-up {
  background-color: #0492bd;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0492bd;
  color: white;
  font-size: 1.05rem;
  font-weight: 600;
  height: 55%;
  padding: .5rem;
  width: 100px;
}

.login {
  color: black;
  text-decoration: none;
}