.title-container {
  margin: 0 auto;
  position: relative;
  top: 75px;
  width: 625px;
}

.title {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.title:nth-of-type(2) {
  display: inline;
  margin-top: 1rem;
}

.input-container {
  display: inline-flex;
}

.email-input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 2.25rem;
  margin: 0 10px 10px 10px;
  padding-left: 5px;
  position: relative;
  bottom: 6px;
}

.email-btn {
  background-color: #0492bd;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0492bd;
  color: white;
  font-size: 1.05rem;
  font-weight: 600;
  height: 55%;
  padding: .75rem .5rem;
  position: relative;
  bottom: 9px;
  width: 125px;
}