.header {
  align-items: center;
  border-bottom: 1px solid grey;
  display: flex;
  height: 100px;
  justify-content: space-around;
}

.logo {
  height: 37.5px;
  position: relative;
  right: 117px;
  top: 2px;
  width: 165px;
}
